body {
    /*background-color: #f9f7fe;*/
    color: #272142;
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5f7;
    background-image: radial-gradient(#bdbfe3 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    margin-top: 30px;
}

body.dark {
    /* filter: invert(1); */
    background-image: radial-gradient(#271d3c 0.5px, #100d18 0.5px);
}

body.dark .container {
    background: #1c1824;
}

body.dark h1,
body.dark h2,
body.dark p {
    color: #d3cde0;
}


h1,
h2 {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    font-family: "PT Mono", monospace;
    line-height: 27px;
}

a {
    color: #2e4451;
}

body.dark a {
    color: #d3cde0;
}

a:hover {
    color: #31726a;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

img {
    border-radius: 12px;
    max-width: 100%;

}

body.dark .theme-button {
    background: #1c1824;
    color: #fff;
}

.theme-button {
    display: block;
    background-color: #17514a;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    margin: 0 auto;
}

.theme-button:hover {
    opacity: .9;
}

body.dark .theme-button:hover {
    opacity: .9;
    background: #31726a;
}

.order-button {
    background: #17514a;
    color: white;
    display: block;
    margin: 30px auto;
    width: 90%;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    border: 1px solid transparent;
}

.order-button:hover {
    opacity: 90%;
    background: #fff;
    color: #17514a;
    border: 1px solid #17514a;
}

small {
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: "PT Mono", monospace;
}

.container {
    box-shadow: 0px 30px 50px rgba(57, 48, 90, 0.1);
    margin: 50px auto;
    background: #fff;
    max-width: 550px;
    padding: 40px;
    border-radius: 16px;
}

body.dark .container {
    box-shadow: 0px 30px 50px rgba(4, 2, 12, 0.5);
}

.description {
    padding-bottom: 20px;
}

.main-img {
    margin: 15px 0;
    background-origin: 10px 10px;
    transition: all 150ms ease-in-out;
}

.main-img:hover {
    transform: scale(1.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid img {
    object-fit: cover;
    aspect-ratio: 6 / 8;
    transition: all 150ms ease-in-out;
}

.grid img:hover {
    transform: scale(1.2);
}